.content.featured-page
  .container
    .page-frame.text-center

      %p.featured-title 利用更少的時間 享受更多的樂趣
      %p.featured-subtitle 是一個介紹食譜、烹飪和銷售食材和調味料的網站。提供一站式服務，包括購買食材、香料和用具等。用戶只需根據本站的食譜即可制作出各種美味的料理。對料理有興趣的你必不能錯過的網站喔！！

      %hr

      .features-items.clearfix
        .item.clearfix
          %p.fontawesome-heart
          %p.title 選取菜譜
          %p.subtitle 遊覧和收藏各種菜譜, 用戶可以 根據菜譜的步驟制作 
        .item.clearfix
          %p.fontawesome-shopping-cart
          %p.title 購買食材
          %p.subtitle 遊覧和收藏各種菜譜, 用戶可以 根據菜譜的步驟制作 
        .item.clearfix
          %p.fontawesome-truck
          %p.title 運送材料
          %p.subtitle 遊覧和收藏各種菜譜, 用戶可以 根據菜譜的步驟制作 
      
      / %hr

      .featured-product
        .product.product-large 
          %img{"data-src" => "holder.js/1280x300", src: 'http://lorempixel.com/900/350/food/1'}
          .product-detail.show
            %blockquote.left-content.pull-left.text-left
              %p.product-title
                %strong 朱古力雪糕卷
              %p.product-subtitle
                肚子餓又怕胖，推薦健康點心拯救你～每朵菇菇也充滿水份，口感爽脆。搭配別俱風味的麻油海苔，帶著流連忘返的麻油香氣，口感清爽而不膩，酥脆紮實的新鮮原料，徹底抓住了我的胃！超愛麻油海苔的，一吃就上癮！❤（≧∀≦）ｖ
              %small
                %em
                  大胃王
                  %cite{:title => "Source Title"} 小編
            .right-bar.pull-right
              .color-block.large
              .color-block.large
              .color-block.large

        .product.product-large 
          %img{"data-src" => "holder.js/1280x300", src: 'http://lorempixel.com/900/350/food/1'}
          .product-detail.show
            %blockquote.left-content.pull-left.text-left
              %p.product-title
                %strong 朱古力雪糕卷
              %p.product-subtitle
                肚子餓又怕胖，推薦健康點心拯救你～每朵菇菇也充滿水份，口感爽脆。搭配別俱風味的麻油海苔，帶著流連忘返的麻油香氣，口感清爽而不膩，酥脆紮實的新鮮原料，徹底抓住了我的胃！超愛麻油海苔的，一吃就上癮！❤（≧∀≦）ｖ
              %small
                %em
                  大胃王
                  %cite{:title => "Source Title"} 小編
            .right-bar.pull-right
              .color-block.large
              .color-block.large
              .color-block.large
      %p other things don't know yet

    .helper-frame.text-center
      .helper-tools.clearfix
        %a.item.clearfix
          %p.fontawesome-envelope-alt
          %p.title 聯絡我們
          / %p.subtitle 遊覧和收藏各種菜譜, 用戶可以 根據菜譜的步驟制作 
        %a.item.clearfix
          %p.fontawesome-comments
          %p.title FAQ
          / %p.subtitle 遊覧和收藏各種菜譜, 用戶可以 根據菜譜的步驟制作 
        %a.item.clearfix
          %p.fontawesome-wrench
          %p.title 服務支援
          / %p.subtitle 遊覧和收藏各種菜譜, 用戶可以 根據菜譜的步驟制作 