.content.recipe-page
  .container.clearfix
    .hero-unit
      .center-cropped
        %img{src:"http://lorempixel.com/1000/440/food/"}
        .overlay
          .introduction.pull-right
            .btn-group
              %button.btn
                %i.fontawesome-bookmark
                收藏
              %button.btn
                %i.fontawesome-print
                列印
              %button.btn
                %i.fontawesome-shopping-cart
                購買
            .basic-info
              %p.heading
                %span.title 焦糖椰汁軟糕
              / %p
              /   %span.info.pull-right 
              /     %i.fontawesome-food
              /     1人份量 &nbsp&nbsp
              /     %i.fontawesome-time
              /     約需20分鐘
              / %ul.category.inline
              /   %li 肉類,
              /   %li A類,
              /   %li A類
              %p.description 泰國料理的熱門菜～椒麻雞，那酸中帶麻又待辣的滋味很多人都非常喜愛，這回蘿瑞娜把原本油炸的雞肉換成汆燙的里肌肉片，不但更加爽口無負擔，而且風味絲毫不減。涼拌的椒麻肉片是先用龜甲萬甘醇醬油把里肌肉稍微醃漬後汆燙，再淋上甘醇醬油與魚露檸檬汁調配而成的經典椒麻醬汁，酸甜麻辣的醬汁搭配上爽脆的豆芽軟Q的肉片，是道低油下飯的美味料理。
            %p.price-info
              %span.price $60
              %em.per-pack /每套
    .recipe
      .ingredient.row
        %table.table
          %thead
            %tr
              %td 
                %p.ingredient-heading 食材
          %tbody
            %tr
              %td 
                里肌肉 
                %span.pull-right 250g
            %tr
              %td 
                豆芽 
                %span.pull-right 250g
            %tr
              %td 
                辣椒 
                %span.pull-right 2支
            %tr
              %td 
                蔥 
                %span.pull-right 1支
            %tr
              %td 
                蒜 
                %span.pull-right 4瓣
            %tr
              %td 
                香菜 
                %span.pull-right 1小把
        %table.table
          %thead
            %tr
              %td
                %p.seasonings-heading 調味料 
          %tbody
            %tr
              %td 
                魚露 
                %span.pull-right 1大匙
            %tr
              %td 
                檸檬汁 
                %span.pull-right 1大匙
            %tr
              %td 
                香油 
                %span.pull-right 1大匙
            %tr
              %td 
                糖 
                %span.pull-right 1大匙
            %tr
              %td 
                花椒粉 
                %span.pull-right 1大匙
            %tr
              %td 
                龜甲萬甘醇醬油 
                %span.pull-right 1大匙
        %table.table
          %thead
            %tr
              %td
                %p.others-heading 其他 
          %tbody
            %tr
              %td 
                魚露 
                %span.pull-right 1大匙
            %tr
              %td 
                檸檬汁 
                %span.pull-right 1大匙
            %tr
              %td 
                香油 
                %span.pull-right 1大匙
            %tr
              %td 
                糖 
                %span.pull-right 1大匙
            %tr
              %td 
                花椒粉 
                %span.pull-right 1大匙
            %tr
              %td 
                龜甲萬甘醇醬油 
                %span.pull-right 1大匙
    .angles
    .steps-section
      .steps-heading
        %p 作法
      %ul.steps
        %li.row
          .pull-left.step-info
            %p.step-num step 1
            %p.step-detail 雞胸肉切片加入調味料A醃約10分鐘備用。
            %p 調味料， 調味料， 調味料
          .pull-right.step-photo
            %img.img-polaroid{"data-src" => "holder.js/250x300", :src => "http://lorempixel.com/250/300/food/3"}
        %hr
        %li.row
          .pull-right.step-info
            %p.step-num step 2
            %p.step-detail 雞胸肉切片加入調味料A醃約10分鐘備用。
            %p 調味料， 調味料， 調味料
          .pull-left.step-photo
            %img.img-polaroid{"data-src" => "holder.js/250x300", :src => "http://lorempixel.com/350/250/food/3"}
        %hr
        %li.row
          .pull-left.step-info
            %p.step-num step 3
            %p.step-detail 雞胸肉切片加入調味料A醃約10分鐘備用。
            %p 調味料， 調味料， 調味料
          .pull-right.step-photo
            %img.img-polaroid{"data-src" => "holder.js/250x300", :src => "http://lorempixel.com/250/300/food/3"}
        %hr

