!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Bootstrap, from Twitter
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    :css
      body {
        padding-bottom: 40px;
      }    

    = stylesheet_link_tag :marketing, :media => "all"
    = csrf_meta_tags


  %body
    = yield